/* .itemDetails {
  background-color: white;
  box-shadow: #00000059 0px 5px 15px;
  margin: 16px 0 0;
  padding: 16px 24px;
  width: 100%;
  max-width: 500px;
}

@media screen and (max-width: 600px) {
  .itemDetails {
    max-width: 600px;
  }
}

.contactDetails {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 16px 0 0;
  padding: 20px 24px;
}

.imageShowDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  width: 100%;
}

.imageShowDiv img {
  width: 75%;
  height: auto;
}

@media only screen and (max-width: 550px) {
  .imageShowDiv img {
    width: 50%;
    height: auto;
  }

  .imageShowDiv {
    margin: 0;
  }
}

.cardSection {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 30em;
  padding: 10px 15px;
}

@media screen and (max-width: 600px) {
  .cardSection {
    margin-top: 10px;
    width: 20em;
  }
}

.price {
  color: rgb(0 47 52);
}

.fullCard {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
  padding: 10px;
}

.card {
  margin-right: 15px;
  padding: 13px;
  max-width: 222px;
  width: 222px;
  height: 270px;
  display: inline-block;
  cursor: pointer;
  padding: 30px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .card {
    padding: 15px;
  }
}

.card .favorite {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .image img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .card .image img {
    width: 110px;
  }
}

.card .content .rate {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: larger;
  font-weight: bold;
}
.card .content .category {
  font-size: medium;
}
.card .content .name {
  font-size: small;
  margin-top: 0;
}
.card .date {
  display: flex;
  justify-content: flex-end;
  font-size: small;
} */

.card-img img {
  width: "200px";
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .card-img {
    width: 150px;
  }
}

.card-section2 {
  padding: 10px;
  width: 400px;
  max-width: 500px;
  height: auto;
  margin-top: 1em;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5px;
}

.card-section1 {
  padding: 10px;
  width: 400px;
  max-width: 500px;
  height: auto;
  margin-top: 1em;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5px;
}

.card-section3 {
  padding: 10px;
  width: 400px;
  max-width: 500px;
  height: auto;
  margin-top: 1em;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .card-section2 {
    margin-top: 6px;
    width: 280px;
  }

  .card-section3 {
    margin-top: 7px;
    width: 280px;
  }

  .card-section1 {
    margin-top: 10px;
    width: 280px;
  }
}
