.card {
  padding: 10px;
  display: flex;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .card {
    max-width: 140px;
    width: auto;
    height: auto;
  }

  .cont {
    padding: 0;
  }

  .card .content .rate {
    font-size: small;
    font-weight: 500;
  }

  .card .content .name {
    font-size: small;
  }

  .card .image img {
    height: auto;
    width: 100px;
  }
}

@media screen and (min-width: 600px) {
  .card {
    max-width: 222px;
    width: 220px;
    height: auto;
  }

  .cont {
    padding: 1em;
  }

  .card .content .rate {
    font-size: larger;
    font-weight: bold;
  }
}

.card .favorite {
  margin-top: "5px";
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .image img {
  height: auto;
  text-align: center;
}

.card .content .name {
  font-size: medium;
}
