.errorImg {
  max-height: 301px;
  max-width: 301px;
  min-height: 188px;
  min-width: 188px;
  display: flex;
  align-items: center;
  justify-items: center;
}

@media screen and (min-width: 600px) {
  .errorImg img {
    margin-left: 5em;
  }
}

@media screen and (max-width: 600px) {
  .errorImg img {
    align-self: center;
    width: 200px;
    position: relative;
    margin-left: 6em;
  }
}
